@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #26284e;
}

a, a:hover{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;
}

li{
    display: inline-block;
}

.header{
    width: 100%;
    height: 100vh;
    background-color: #26284e;
}

.header .navbar{
    width: 90%4;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.header .navbar .logo{
    margin-left: 50px;
}

.header .navbar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.header .navbar .menu ul li{
    margin-right: 30px;
}

.header .navbar .menu ul li a{
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}

.header .navbar .menu ul li a.active{
    opacity: 1;
}

.header .navbar .menu ul li a:hover{
    opacity: 1;
}

.social-media > ul{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;    
}

.hero{
    width: 100%;
}

.content >h2{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.hero .row{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    margin: 43px;
}

.hero .row .left-sec{
    width: 30%;
    margin-top: 100px;
}

.hero .row .left-sec h2{
    font-size: 85px;
    color: #fff;
    text-transform: capitalize;
}

.hero .row .left-sec h2 span{
    color: #d43242;
}

.hero .row .left-sec p{
    margin: 20px 0;
    color: #fff;
    line-height: 28px;
}

.hero .row .left-sec .discover-btn{
    display: flex;
    align-items: center;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 50px;
    padding: 0 25px;
    border: 3px solid #ffa938;
    background-color: #d43242;
    height: 40px;
    color:#fff ;
    box-shadow: 5px 7px 20px #000;
}

.hero .row .left-sec .discover-btn a{
    color: #ff008c;
    font-size: 25px;
    letter-spacing: 2px;
    margin-right: 15px;
    text-transform: capitalize;
}

.hero .row .left-sec .discover-btn span{
    color: #fff;
    font-size: 45px;
}

.hero .information{
    display: flex;
    width: 100%;
    margin-top: 100px;
}

.hero .information .production{
    margin-right:  50px;
    line-height: 3px;
}

.hero .information .production h2{
    font-size:  20px;
    letter-spacing: 1px;
}

.hero .information .production p{
    padding-right: 0;
    letter-spacing: 1px;
}
